<a href="https://colab.research.google.com/github/indukuribhavana/python-programs/blob/main/Copy_of_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string
a="string"
print(a)
print(type(a))
print(a[1])

string
<class 'str'>
t

In [ ]:
#length
a="string"
print(len(a))

6

In [ ]:
a="hello string"
print(len(a))

12

In [ ]:
a="Radhe shyam movie has been released"
print("Radhe shyam" in a)

True

In [ ]:
a="Radhe shyam movie has been released"
print("Radhe shyam" not in a)

False

In [ ]:
a="RRR movie has been released"
print(a[2:5])

R m

MODIFY STRING

In [ ]:
#CONVERT THE STRING INTO UPPER CASE
a= "RRR has been released"
print(a.upper())

#CONVERT THE STRING INTO LOWER
a= "RRR has been released "
print(a.lower())

#REMOVE WHITESPACE
a=" RRR has been released "
print(a.strip())

#REPLACE STRING
a= "RRR has been released"
print(a.replace("RRR","radhe shyam"))

#SPLIT STRING
a= "RRR, has been replaced"
print(a.split(","))

RRR HAS BEEN RELEASED
rrr has been released
RRR has been released
radhe shyam has been released
['RRR', ' has been replaced']

CONCATENATE STRINGS

In [ ]:
#STRING CONCATENATION
a= "akhila"
b= "rakshitha"
#print(a+" "+b)

FORMAT STRINGS

In [ ]:
a=145
b="hello ()"
print(b.format(a,b))

price=150
quantity=3
item=1
name="thumps up"
myorder="i bought {3} with {0} havig {1} and purchase {2}"
print(myorder.format(price,quantity,item,name))


sub1=int(input("enter math marks"))
sub2=int(input("enter python marks"))
sub3=int(input("enter che marks"))
sub4=int(input("enter BEEE marks"))
sub5=int(input("enter phy marks"))
marks="my math marks are{0} python marks are{1} che marks are{2} BEEE marks are{3} phy marks are{4}"
print(marks.format(sub1,sub2,sub3,sub4,sub5))

hello ()
i bought thumps up with 150 havig 3 and purchase 1
enter math marks89
enter python marks87
enter che marks80
enter BEEE marks85
enter phy marks90
my math marks are89 python marks are87 che marks are80 BEEE marks are85 phy marks are90

ESCAPE CHARACTERS

In [ ]:
a="hello akhila \"hi\""
print(a)
b="hey rakshitha \\is mental"
print(b)
c="hello \ndivija"
print(c)
d="hello \tabhi"
print(d)
e="hello\bdhanush"
print(e)
h="hello\fvenkat"
print(h)
#OCTAL VALUE
a="\110\145\154\154\157"
print(a)

hello akhila "hi"
hey rakshitha \is mental
hello
divija
hello 	abhi
hellodhanush
hellovenkat
Hello

STRING METHODS

In [ ]:
a="akhila"
b=a.capitalize()
print(b)

a="Akhila"
b=a.casefold()
print(b)

a="akhila"
b=a.center(30)
print(b)

a=" hello world welcome to my world"
b=a.count("")
print(b)
print(len(a))

Akhila
akhila
            akhila
33
32