<a href="https://colab.research.google.com/github/indukuribhavana/python-programs/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
fruit=("apple,banana,watermelon,pineapple,mango")
print(fruit)

apple,banana,watermelon,pineapple,mango

In [8]:
fruit=("apple,banana,watermelon,pineapple,mango")
print(fruit[0])

a

In [9]:
fruit=("apple,banana,watermelon,pineapple,mango")
print(fruit[-1])

o

In [13]:
fruit=["apple","banana","watermelon","pineapple"]
print(fruit)
print(fruit[0:2])
print(fruit[:2])
print(fruit[1:2])
print(fruit[:1])

['apple', 'banana', 'watermelon']
['apple', 'banana']
['apple', 'banana']
['banana']
['apple']

Append

Append,Insert,Remove,Pop,Delete,clear,sort,sort in desending,alph sort

In [51]:
fruit=["apple","banana","watermelon","pineapple"]
print(fruit)
fruit.append("papaya")
print(fruit)
##inserting into list
fruit.insert(0,"orange")
print(fruit)
##removing from list 
fruit.remove("pineapple")
print(fruit)

['apple', 'banana', 'watermelon', 'pineapple']
['apple', 'banana', 'watermelon', 'pineapple', 'papaya']
['orange', 'apple', 'banana', 'watermelon', 'pineapple', 'papaya']
['orange', 'apple', 'banana', 'watermelon', 'papaya']

In [52]:
numbers=["1","2","3","4","5","6"]
print(num)
#pop and remove
numbers.remove("3")
print(num)
numbers.pop(4)
#delete
del num[1]
print(num)
#clear 
numbers.clear()
print(num)
#Sort
num=[10,20,30,45,50]
num.sort()
print(num)
#Sort in desending
num=[10,20,30,45,50]
num.sort(reverse=True)
print(num)
#alph sort
alph=["b","h","a","v","n"]
alph.sort()
print(num)

[50, 45, 30, 20, 10]
[50, 45, 30, 20, 10]
[50, 30, 20, 10]
[50, 30, 20, 10]
[10, 20, 30, 45, 50]
[50, 45, 30, 20, 10]
[50, 45, 30, 20, 10]