<a href="https://colab.research.google.com/github/indukuribhavana/python-programs/blob/main/Module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MODULE 2

In [ ]:
#Create a function which accepts two inputs from the user and compute nCr
def nCr(b,h):
  return(fact(b)/(fact(h)
                 *fact(b-h)))
b=int(input("")) 
h=int(input(""))
def fact(b):
  res=1
  for i in range(2,b+1):
   res =res*i
  return res
print(int(nCr(b,h)))

5
2
10

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
colour=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
colour=[h for (i,h) in enumerate (colour) if i not in (0,4,5)]
print(colour)

['Green', 'White', 'Black']

In [ ]:
#Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed.
bhavana = [(4,5), (4, ), (8,6,7), (1, ), (3,4,6,7)]
print("The original list : " + str(bhavana))
k = int(input("Enter the lenght of tuples you want to eliminate: "))
fin=[]
for i in range (0,len(bhavana)):
  if len(bhavana[i]) != k:
    fin.append(bhavana[i])

print("Filtered list : " + str(fin))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Enter the lenght of tuples you want to eliminate: 2
Filtered list : [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
#Program to get the difference between the two lists
b=[14,16,17,20,22]
h=[15,17,19,21,23]
diff_b_h=list(set(b)-set(h))
diff_h_b=list(set(h)-set(b))
total_diff=diff_b_h + diff_h_b
print(total_diff)

[16, 20, 14, 22, 19, 23, 21, 15]

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples
#having first element as the number and second element as the square of the number.
bhavana = [23,45,67,89,93]
print("The list is ")
print(bhavana)
print("The resultant tuple is :")
bhavana = [(val, pow(val, 2)) for val in bhavana]
print(bhavana)

The list is
[23, 45, 67, 89, 93]
The resultant tuple is :
[(23, 529), (45, 2025), (67, 4489), (89, 7921), (93, 8649)]

In [ ]:
#x Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed.
h=int(input("input a number"))
v = dict()

for x in range(1,h+1):
  v[x]=x*x
  
  print(v)

input a number3
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}

In [ ]:
#Program to remove a key from a dictionary
bhavana = {'d':4,'c':3,'b':2,'a':1}
print(bhavana)
if 'd' in bhavana:
  del bhavana['d']
print(bhavana)

{'d': 4, 'c': 3, 'b': 2, 'a': 1}
{'c': 3, 'b': 2, 'a': 1}

In [ ]:
##Program to generate and print a dictionary that contains a number (between 1
##and n) in the form (x, x*x). 

h=int(input("input a number"))
d = dict()

for x in range(1,h+1):
  d[x]=x*x

  print(d)

input a number2
{1: 1}
{1: 1, 2: 4}

In [ ]:
##Program to get the maximum and minimum value in a dictionary
my_numbers={"4":64,"7":74,"9":6,"8":89}
max_value=max(my_numbers, key=my_numbers.get)
min_value=min(my_numbers, key=my_numbers.get)
print("the maximum value of a given numbers has a key:'"+max_value+"' and its value is:",my_numbers[max_value])
print("the minimum value of a given numbers has a key:'"+min_value+"' and its value is:",my_numbers[min_value])

the maximum value of a given numbers has a key:'8' and its value is: 89
the minimum value of a given numbers has a key:'9' and its value is: 6

In [ ]:
# Program for Counting occurrence of a certain element in a string, getting indexes that
#have matching elements.For ex -.In Rabbit count how many times b has occurred .
#example-I have to go to a doctor and get myself checked. Count the number of
#occXrrences of µWo¶
friend="divija"
print(friend.count("s"))
string="have to go to a doctor and get myself checked"
print(string.count("e"))

0
5

In [ ]:
#Program to find the second smallest number and second largest number in a list
numbers=[78,898,76,65,89,92]
numbers.sort()
print(numbers)
print("2nd smallest number is:",numbers[2])
print("2nd largest number is:",numbers[len(numbers)-2])

[65, 76, 78, 89, 92, 898]
2nd smallest number is: 78
2nd largest number is: 92

In [ ]:
#Program to perform operations on string using unicodes ,splitting of string,accessing
#elements of string using locations
my_string=input("enter a string:")
print(my_string.split())
print(my_string[9:87])

enter a string:76
['76']

In [ ]:
#Program for replacing one substring by another For example - Rabbit - Replace µbb¶ b\
#µcc¶
friend="dhanush"
friend1=friend.replace("h","")
print(friend1)

danus

In [ ]:
#Python function that accepts a string and calculates the number of uppercase
#letters and lowercase letters
string="i love my FAMILY"
count_1=0
count_2=0
for i in string:
  if i.isupper():
    count_1+=1
  elif i.islower():
    count_2+=1
  else:
    pass
  print("no.of uppercase alphabets are: ",count_1)
  print("no.of lowercase alphaets are: ",count_2)

no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  1
no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  1
no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  2
no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  3
no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  4
no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  5
no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  5
no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  6
no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  7
no.of uppercase alphabets are:  0
no.of lowercase alphaets are:  7
no.of uppercase alphabets are:  1
no.of lowercase alphaets are:  7
no.of uppercase alphabets are:  2
no.of lowercase alphaets are:  7
no.of uppercase alphabets are:  3
no.of lowercase alphaets are:  7
no.of uppercase alphabets are:  4
no.of lowercase alphaets are:  7
no.of uppercase alphabets are:  5
no.of lowercase alphaets are:  7
no.of uppercase alphabets are:  6
no.of lowercase alphaets are:  7

In [ ]:
#Program to count the number of strings where the string length is 2 or more and
#the first and last character are same from a given list of strings
sample_list =["abc ", "asd ","675","fly","17","uegf"]
count=0
for i in sample_list:
  if len(i)>=2:
    if i[0]==i[len(i)-1]:
      print(i)
    count+=1
    print(count)

1
2
3
4
5
6

In [1]:
#Program to Acronym generate for any user input
string=input("enter some string:")
h=string.split()
for i in h:
  print(i[0],end=' ')

enter some string:random access memory
r a m