<a href="https://colab.research.google.com/github/indukuribhavana/python-programs/blob/main/Python_RegEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
txt = "I am Bhavana studying in Gitam university first year"
import re
x = re.search("Bhavana",txt)
if x:
  print("match")
else:
    print("not matched")

match

In [7]:
txt = "I am Bhavana studying in Gitam university first year"
import re
x = re.search("Rakshitha",txt)
if x:
  print("match")
else:
    print("not matched")

not matched

In [8]:
txt = "At an elevation of about 3200 ft, Araku is famous for its coffee plantations surrounded by beautiful gardens, streams, waterfalls and valleys that are covered with lush green forests. Situated in the Eastern Ghats, the hill station is about 112 km southeast of Vishakhapatnam."
import re
x=re.search("elevation",txt)
if x:
  print("match")
else:
  print("not matched")

match

In [27]:
txt = "At an elevation of about 3200 ft, Araku is famous for its coffee plantations surrounded by beautiful"
"gardens, streams, waterfalls and valleys that are covered with lush green forests"
"Situated in the Eastern Ghats, the hill station is about 112 km southeast of Vishakhapatnam."
import re
x = re.findall("[a-i]",txt)
if x:
 print(x)

['a', 'e', 'e', 'a', 'i', 'f', 'a', 'b', 'f', 'a', 'i', 'f', 'a', 'f', 'i', 'c', 'f', 'f', 'e', 'e', 'a', 'a', 'i', 'd', 'e', 'd', 'b', 'b', 'e', 'a', 'i', 'f']

In [20]:
txt = "a6"
import re
x = re.split("\s", txt, 1)
print(x)

['a6']