<a href="https://colab.research.google.com/github/indukuribhavana/python-programs/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## average of three numbers

In [ ]:
a=10
b=20
c=30
average=(a+b+c)/3
print(average)
print(type(average))

20.0
<class 'float'>

## multiplication of three numbers

In [ ]:
a=8
b=9
c=5
d=(a*b*c)
print(d)
print(type(d))

360
<class 'int'>

## addition of 2 numbers
(dynamic)

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
add=(a+b)
print(add)
print(type(add))

enter the number:10
enter the number:20
30
<class 'int'>

# type conversions

### convert int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(b)
print(type(b))

<class 'int'>
10.0
<class 'float'>

### convert float to int

In [ ]:
a=5
print(type(a))
b=int(a)
print(b)
print(type(b))

<class 'int'>
5
<class 'int'>

### convert int to string

In [ ]:
a=15.5
print(type(a))
b=str(a)
print(b)
print(type(b))

<class 'float'>
15.5
<class 'str'>

### convert float to string

In [ ]:
a=15
print(type(a))
b=str(a)
print(b)
print(type(b))

<class 'int'>
15
<class 'str'>

### string to int not possible only if  values given in alphabets

## boolean

In [ ]:
z=10
b=12
c=b<z
print(c)
print(type(c))

False
<class 'int'>

### convert int into boolean

In [ ]:
a=5
c=7
d=a>c
print(type(a))
b=bool(d)
print(b)
print(type(b))

<class 'int'>
False
<class 'bool'>

## convert boolean into int

In [ ]:
a=5
b=3
c=a>b
print(type(c))
d=int(c)
print(d)
print(type(d))

<class 'bool'>
1
<class 'int'>

## convert boolean into float

In [ ]:
a=bool(10)
c=10.0
print(c)
print(type(a))
b=float(a)
print(type(b))

10.0
<class 'bool'>
<class 'float'>

## convert boolean into string

In [ ]:
a=bool(9)
print(type(a))
b=str(a)
print(b)
print(type(b))

<class 'bool'>
True
<class 'str'>

## complex into int

In [ ]:
a=5+2j
print(type(a))
c=str(a)
print(type(c))
d=bool(a)
print(type(d))
e=float(a)
print(type(e))

<class 'complex'>
<class 'str'>
<class 'bool'>

TypeError: can't convert complex to float